.content{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #000;
    color: #fff;
}
.menu{
    position: relative;
    width: 50%;
}
.left{
    border-right: 2px solid #ddd;
}
.thumb{
    position: relative;
    width: 100%;
    display: block;
}
#add-data{
    font-size: 2em;
    background-color: #000;
    color: #fff;
    border: 2px solid #ddd;
}
#add-data:hover{
    border-color: #00ffff;
    color: #00ffff;
}
.pixel-box{
    font-size: 2em;
}
.pixel-box input{
    width: 20px;
    height: 20px;
}


@media screen and (min-width: 520px) and (max-width: 1500px) {
    .content {
        flex-direction: column;
    }

    .menu {
        position: relative;
        width: 100%;
    }

    .left {
        border-right: none;
    }
}
